@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.react-date-picker {
  border: none;
  font-family: "Inter", sans-serif;
}

.react-date-picker__wrapper {
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.react-calendar {
  border: none;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  font-family: "Inter", sans-serif;
}

.react-calendar__tile--active {
  background: #064749;
  color: white;
  border-radius: 0.5rem;
}

.react-calendar__tile--now {
  background: #d1fae5;
  border-radius: 0.5rem;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  background: #07275a;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #60a5fa;
  border-radius: 4px;
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #60a5fa #07275a;
}
